<%= simple_form_for :session, url: login_path do |f| %>
<div class="row">
  <%= f.input :username, wrapper_html: { class: 'col s12 l4' } %>
</div>
<div class="row">
  <%= f.input :password, wrapper_html: { class: 'col s12 l4' } %>
</div>
<div class="row">
  <div class="col s12">
    <%= f.label :remember_me do %>
    <%= f.check_box :remember_me %> <span>Remember me</span>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col s12">
    or <%= link_to "Sign Up", signup_path %> if you are not
  </div>
</div>
<div class="row">
  <div class="col s12">
    <%= button_tag( :class => "btn waves-effect waves-light red") do %>
    Login
    <i class="material-icons right">send</i>
    <% end %>
  </div>
</div>
<% end %>
